$base-button-background-color:#1779ba;
$base-button-font-color:#ffffff;

.button {
  color: $base-button-font-color;
  background: $base-button-background-color;
  &.secondaryButton {
    color: $base-button-background-color;
    background: $base-button-font-color;
    border: $base-button-background-color 1px solid;
  }
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 0.8em;
  }
}